<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Great Suspender - Recovery Tool</title>

  <!-- vendor -->
  <link rel="stylesheet" href="vendor/spectre.min.css">
  <script src="vendor/vue.js"></script>

  <!-- app -->
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/fonts/muli.css">
</head>
<body>
<div id="app" :data-format="options.format" :data-promo="promo">

  <!-- main -->
  <main>
    <h1>The Great Suspender Recovery Tool</h1>

    <!-- status -->
    <h4>
      <span v-if="!loaded">Querying search history...</span>
      <span v-else-if="items.length">Found: {{ items.length }} items</span>
      <span v-else class="text-error">No suspended tabs found</span>
    </h4>

    <!-- controls -->
    <div class="options" v-if="items.length">
      <div v-if="options.mode === 'list'" class="form-group">
        <span class="form-label">&nbsp;</span>
        <button class="btn btn-primary" @click="bookmarkData">Bookmark Tabs</button>
      </div>

      <div v-if="options.mode === 'table'" class="form-group">
        <span class="form-label">&nbsp;</span>
        <button class="btn btn-primary" @click="copyData">Copy to Clipboard</button>
      </div>

      <!-- mode -->
      <div class="form-group">
        <span class="form-label">Display</span>
        <select class="form-select" v-model="options.mode">
          <option value="list">List</option>
          <option value="table">Table</option>
        </select>
      </div>

      <!-- group by -->
      <div class="form-group">
        <span class="form-label">Group by</span>
        <select class="form-select" v-model="options.groupBy">
          <option value="domain">Domain</option>
          <option value="date">Date</option>
          <option value="relativeTime">Relative time</option>
          <option value="count">Visit count</option>
        </select>
      </div>

      <!-- sort by -->
      <div class="form-group">
        <span class="form-label">Sort by</span>
        <select class="form-select" v-model="options.sortBy">
          <option value="domain">Domain</option>
          <option value="date">Date / Time</option>
          <option value="count">Visit Count</option>
        </select>
      </div>

      <!-- format -->
      <div class="form-group">
        <span class="form-label">Sort by</span>
        <select class="form-select" v-model="options.format">
          <option value="all">All visit data</option>
          <option value="data">Title and URL</option>
          <option v-if="options.mode === 'table'" value="url">URL only</option>
        </select>
      </div>

      <!-- show relative time -->
      <div class="form-group">
        <span class="form-label">&nbsp</span>
        <label class="form-switch">
          <input type="checkbox" v-model="options.relativeTime">
          <i class="form-icon"></i> Relative time
        </label>
      </div>
    </div>

    <!-- toast -->
    <div v-if="message" class="toast">
      <button class="btn btn-clear float-right" @click="message = ''"></button>
      <div class="toast-content" v-html="message"></div>
    </div>

    <!-- items -->
    <div v-if="items.length">

      <!-- list -->
      <div v-if="options.mode === 'list'">
        <section v-for="(group, name) in grouped" ref="group.title" class="group">
          <h5 class="group__title">{{ name }}</h5>
          <div class="group__items">
            <div v-for="item in group" ref="item.url" class="item">
              <img :src="getIcon(item)" width="16" height="16" class="item__icon">
              <div class="item__text">
                <a :href="item.url" class="item__link">
                  <span class="item__title">{{ item.title }}</span>
                </a>
                <div v-if="showAll" class="item__info">
                  <span>{{ item.count }} visits</span><span>{{ options.relativeTime ? item.relativeTime : item.date }}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- table -->
      <table v-if="options.mode === 'table'" class="table">
        <thead>
        <tr>
          <th v-if="showAll">Visits</th>
          <th v-if="showAll">Last Visit</th>
          <th v-if="showData">Title</th>
          <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in sorted" ref="item.id">
          <td v-if="showAll" class="table__info">{{ item.count }}</td>
          <td v-if="showAll" class="table__info">{{ getVisitTime(item) }}</td>
          <td v-if="showData">
            <img :src="getIcon(item)" width="16" height="16" class="item__icon">
            <a :href="item.url" class="table__link">{{ item.title }}</a>
          </td>
          <td class="table__info">{{ item.url }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- no tabs -->
    <div v-else>
      It's possible that your history just doesn't contain any suspended tabs. Sorry!
    </div>

  </main>

  <!-- popover -->
  <div v-if="promo" class="promo-container">
    <div class="card promo">
      <div class="card-image">
        <img src="http://controlspace.app/images/mail/header.png" class="img-responsive">
      </div>
      <div class="card-header">
        <div class="card-title h2">Looking for a new tab manager!?</div>
        <div class="card-subtitle text-gray">
        </div>
      </div>
      <div class="card-body">
        <p>Now that The Great Suspender has been removed from the Chrome Web Store,
          you're going to need a replacement.</p>
        <p><strong>Control Space</strong> is a soon-to-be-released tab manager designed for busy professionals, to browse,
          organise, search and switch tabs with one simple shortcut.</p>
        <p>It's smooth and fast yet brimming with features... <em>including</em> sending tabs to sleep.</p>
      </div>
      <div class="card-footer text-right" @click="promo = false">
        <a class="btn btn-primary" href="https://controlspace.app" target="_blank">Show me now!</a>
        <button class="btn">No thanks</button>
      </div>
    </div>
  </div>

</div>
<script src="assets/js/utils.js"></script>
<script src="scripts/content.js"></script>
</body>
</html>
